body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(112, 191, 88);
}
#body-home{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}
figure{
    font-size: small;
}
.btn-primary{
    color: white;
    background-color: rgb(51, 159, 125);
    border: none;
    width: 10%;
    margin: 5px;

}
.btn-primary:hover{
    color: rgb(255, 177, 44);
    background-color: rgb(68, 177, 138);
}
.in-progress{
    align-content: center;
}
#figImg1{
    height: 70%;
    width: 70%;
}
#figImg2{
    height: 700%;
    width: 70%;
}
#figImg3{
    height: 70%;
    width: 70%;
}
#figImg4{
    height: 100%;
    width: 100%;
}
#figImg5{
    height: 40%;
    width: 40%;
}
#figImg6{
    height: 80%;
    width: 80%;
}
#figImg7{
    height: 25%;
    width: 25%;
}
#figImg8{
    height: 100%;
    width: 100%;
}
#figImg9{
    height: 100%;
    width: 100%;
}
.inline-img{
    display: inline-block;
    width: 50%;
}
#next{
    background-color: rgb(255, 177, 44);

}
#prev{
    background-color: rgb(255, 177, 44);
}
button{
    cursor: pointer;
    height: 75px;
    width: 100px;
}
.fa-lightbulb{
    color: orange;
}
.buttons{
    background-color: gray;
    align-content: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    font-style: italic;
}
h3{
    text-align: center;
}
img{
    height: 100%;
    width: 100%;
}
.docPage{
    display: none;
    margin-top: 10px;
}
#pageStart{
    display: flex;
}
#bone-slide{
    position: fixed;
    top: 11px;
    margin-left: 20px;
}
#bio-slide{
    position: fixed;
    top: 11px;
    left: 205px;
    margin-left: 20px;
}
#home{
    margin-left: 20px;}
.navbar-text{
    margin-bottom: 1rem;
}
nav{
    background-color: gray;
    padding-top: 10px;
}
.sticky {
    position: fixed;
    top: 0;
  }
nav .col {
    align-content: center;
}
.biology{
    background-color: rgba(56, 212, 21, 0.4);
}
.bone{
    background-color: rgba(255,235,83, 0.4);
}
#article{
    background-color: white;
    max-width: 85%;
    padding-top: 10px;
}
.coverpage{
    text-align: center;
    background-color: rgb(150,137,124);
    height: 70%;
}
#cover{
    padding-top: 150px;
}
#construction{
    max-height: 25%;
    max-width: 25%;
    
}
.footnotes{
    font-size: small;
}
hr{
    width: 300px;
    align-content: center;
    border-bottom: 200px;
}
.nav-item{
    height: 70px;
    width: 120px;
    text-align: center;
}
.modal{
    
    background: rgba(0, 0, 0, 0.3);
}
.sliderholder{
    position: absolute;
    width: 300px;
    height: 30px;
}
.modal-dialog{
    background-color: white;
    opacity: 1;
}
.close{
    color: black;
    float: right;
}
.close:hover{
    color: rgb(255, 177, 44);
    cursor: pointer;
}
#bone-icon{
    /*background-color: rgba(255,235,83,0.4);*/
    font-size: 10px;
}
#microscope-icon{
    /*background-color: rgba(56, 212, 21, 0.4);*/
    font-size: 7px;
}
#home-icon{
    color: rgb(2, 179, 78);
}

/* Got this slider from  https://www.w3schools.com/howto/howto_css_switch.asp */
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(2, 179, 78);
    -webkit-transition: .4s;
    transition: .4s;
    padding-bottom: 10px;
}
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    padding-bottom: 10px;
}
input:checked + .slider{
    background-color: rgb(227, 23, 57);
}
input:focus + .slider{
    box-shadow: 0 0 1px gainsboro;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round{
    border-radius: 34px;
}
.slider.round:before{
    border-radius: 50%;
}
#opaque{
    z-index:.5;
    display: none;
    background-color: black;
    filter: alpha(opacity=30);
    opacity: 0.3;
}
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40%;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    }
    
.my-float{
    margin-top:6px;
    }
.fr{
    right:3%;
}
.fl{
    left:3%;
}